@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hardware acceleration helpers */
.transform-gpu {
  transform: translate3d(0, 0, 0);
}

.backface-hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
